body{
    background-color: aliceblue;
    color: blue;
    text-align: center;

}

.container{
    background-color: white;
    width: 300px;
    height: 300px;
    align-items: center;
    margin-left: 400px;
    border-radius: 4px;
    
}